* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 0 16px;
    background-color: #3b3b3b;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

header {
    text-align: center;
    background-color: #7a7a7a;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 5000;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7a7a7a;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
    color: white;
    height: 4rem;
}

footer p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: "McLaren", cursive;
    font-weight: 300;
}

#last {
    padding-bottom: 10px;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: rgb(18, 19, 22);
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}

form.create-note {
    position: relative;
    width: 40%;
    margin: 60px auto 20px auto;
    background: rgb(241, 237, 237);
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

@media (max-width: 450px) {
    form.create-note {
        width: 90%;
    }
}

form.create-note input,
form.create-note textarea {
    background: rgb(241, 237, 237);
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: rgb(88, 88, 88);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(88, 88, 88);
    cursor: pointer;
    outline: none;
}